@import '../../sass/constants.scss';

.name,
.theme_dark .name {
  color: $white;
  font-weight: 700;
  font-size: $font-size-land-16;
  line-height: $line-height-land-16;
  text-align: center;
  letter-spacing: 0.15vh;
  word-spacing: 9999999px;
}

.theme_light .name {

  color: $black;
}

@media only screen and (orientation: portrait) {
  .name,
  .theme_light .name,
  .theme_dark .name  {
    letter-spacing: 0;
    font-size: $font-size-port-16;
    line-height: $line-height-port-16;
  }
}