.chart,
.theme_dark .chart {
  height: 100%;
  overflow: hidden;

  &__container {
    padding: 9.4vh 8.7vw 0;
    height: calc(100% - 20vh);
  }

  &__leaders {
    padding: 6.7vh 0;
    display: flex;
    justify-content: center;
  }

  &__leaders-item {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: flex-start;
    border-right: 0.3vw solid #918f8a4d;
    margin-left: 2.6vw;
    max-width: 35.3vw;

    &:last-child {
      border-right: none;
    }
  }

  &__leaders-item .avatar {
    padding: 0;
    margin: 0;
    position: relative;
  }

  &__leaders-item .name {
    text-align: left;
    margin-left: 2.2vw;
    word-spacing: normal;
    padding-right: 2vw;
    line-height: 5vh;
  }

  &__leaders-item-value {
    margin-left: 2.1vw;
    margin-top: 1.4vh;
  }

  &__leaders-item .avatar .img {
    width: 5.8vw;
    height: 5.8vw;
  }
}

.theme_light .chart {
  &__leaders-item {
    border-right: 0.3vw solid #bfbfbf4d;

    &:last-child {
      border-right: none;
    }
  }
}

@media only screen and (orientation: portrait) {
  .chart,
  .theme_light .chart,
  .theme_dark .chart {
    &__container {
      padding: 1.3vh 6.4vw 0;
      height: calc(100% - 11.7vh);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &__leaders {
      padding: 3.5vh 0;
      justify-content: flex-start;
      flex-direction: column;
      height: calc(100% - 62.5vh);
    }

    &__leaders-item {
      border-right: none;
      border-bottom: 0.5vw solid #918f8a4d;
      margin-left: 0;
      max-width: 100%;
      padding: 1.9vh 0 2.3vh;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      &:first-child {
        padding-top: 0;
      }

      .avatar {
        margin: 0.5vh 0 0;
      }
    }

    &__leaders-item .name {
      margin-left: 3.7vw;
      padding-right: 2vw;
      line-height: 3.9vh;
    }

    &__leaders-item-value {
      margin-left: 3.7vw;
      margin-top: 0.5vw;
    }

    &__leaders-item .avatar .img {
      width: 10.7vw;
      height: 10.7vw;
    }
  }
}