@import '../../sass/constants.scss';

.diagram__donut,
.theme_dark .diagram__donut {
  position: relative;

  svg {
    transform: rotate(-30deg);
  }

  &-text {
    width: 18vw;
    font-weight: 500;
    color: $primary2;
    font-size: 2.4vw;
    line-height: 2.7vw;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11.5vh 0 0 -9vw;
  }

  &-total-text {
    font-weight: 700;
    color: $white;
    font-size: 3vw;
    line-height: 3.3vw;
    word-spacing: 9999999px;
    margin-bottom: 1.6vh;
  }
}

.theme_light .diagram__donut {
  &-text {
    color: $primary1;
  }

  &-total-text {
    color: $black;
  }
}

@media only screen and (orientation: portrait) {
  .diagram__donut,
  .theme_light .diagram__donut,
  .theme_dark .diagram__donut {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    &-text {
      width: 24.5vh;
      font-size: 2.8vh;
      line-height: 3.4vh;
      margin: -8.6vh 0 0 -12.3vh;
    }

    &-total-text {
      font-size: 4.7vh;
      line-height: 5.1vh;
      margin-bottom: 1.1vh;
    }
  }
}