.vote,
.theme_dark .vote {
  height: 100%;
  overflow: hidden;

  .header__title {
    letter-spacing: -0.1vh;
  }

  &__slider {
    height: calc(100% - 20vh);
    position: relative;
    overflow: hidden;

    &-back-button {
      margin-bottom: 14.2vh;
      margin-left: 0.2vw;
      transform: rotate(180deg);
    }

    &-item {
      height: 100%;
    }
  }

  &__slider.short {
    .vote__slide-item:nth-child(1),
    .vote__slide-item:nth-child(4) {
      top: 0;
    }
  }

  &__slider-btns {
    position: absolute;
    top: 15.7vh;
    display: flex;
    flex-direction: column;
    left: 50%;
    justify-content: space-around;
    margin-left: -4.9vw;
    padding: 0;

    button {
      width: 9.7vw;
      height: 9.7vw;
      position: relative;
      z-index: 5;
      background-image: url("../../assets/images/button-dark.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border-color: transparent;
      outline: none;

      &:hover,
      &:active,
      &:disabled {
        background-image: url("../../assets/images/button-hover-dark.svg");
      }
    }
  }

  &__slide {
    &:nth-child(1) {
      .vote__slide-item:nth-child(1) .avatar .img {
        background-image: url("../../assets/images/2x/1.jpg");
      }
      .vote__slide-item:nth-child(2) .avatar .img {
        background-image: url("../../assets/images/2x/4.jpg");
      }
      .vote__slide-item:nth-child(3) .avatar .img {
        background-image: url("../../assets/images/2x/10.jpg");
      }
      .vote__slide-item:nth-child(4) .avatar .img {
        background-image: url("../../assets/images/2x/12.jpg");
      }
      .vote__slide-item:nth-child(5) .avatar .img {
        background-image: url("../../assets/images/2x/11.jpg");
      }
      .vote__slide-item:nth-child(6) .avatar .img {
        background-image: url("../../assets/images/2x/2.jpg");
      }
    }
    &:nth-child(2) {
      .vote__slide-item:nth-child(1) .avatar .img {
        background-image: url("../../assets/images/2x/5.jpg");
      }
      .vote__slide-item:nth-child(2) .avatar .img {
        background-image: url("../../assets/images/2x/6.jpg");
      }
      .vote__slide-item:nth-child(3) .avatar .img {
        background-image: url("../../assets/images/2x/8.jpg");
      }
      .vote__slide-item:nth-child(4) .avatar .img {
        background-image: url("../../assets/images/2x/7.jpg");
      }
      .vote__slide-item:nth-child(5) .avatar .img {
        background-image: url("../../assets/images/2x/3.jpg");
      }
      .vote__slide-item:nth-child(6) .avatar .img {
        background-image: url("../../assets/images/2x/9.jpg");
      }
    }
  }
}

.theme_light .vote {
  &__slider-btns {
    button {
      background-image: url("../../assets/images/button-hover-light.svg");

      &:disabled {
        background-image: url("../../assets/images/button-light.svg");
      }
    }
  }
}

@media only screen and (orientation: portrait) {
  .vote,
  .theme_dark .vote,
  .theme_light .vote {
    &__slider {
      height: calc(100% - 22vh);

      &-back-button {
        margin-bottom: 0;
        top: -0.6vh;
        margin-left: 0.1vh;
      }
    }

    .name {
      line-height: 2.8vh;
    }

    .header__title {
      letter-spacing: 0;
    }

    &__slider.short {
      .vote__slide {
        grid-template-rows: repeat(2, 1fr);
      }

      .vote__slide-item:nth-child(2) {
        top: 50%;
      }
    }

    &__slider-btns {
      top: 0.9vh;
      margin-left: -5vh;
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 3.2vh 0;

      button {
        max-width: 18vw;
        max-height: 18vw;
        width: 10vmax;
        height: 10vmax;
      }
    }

    &__slide {
      &:nth-child(1) {
        .vote__slide-item:nth-child(7) .avatar .img {
          background-image: url("../../assets/images/2x/5.jpg");
        }
        .vote__slide-item:nth-child(8) .avatar .img {
          background-image: url("../../assets/images/2x/6.jpg");
        }
      }
      &:nth-child(2) {
        .vote__slide-item:nth-child(1) .avatar .img {
          background-image: url("../../assets/images/2x/8.jpg");
        }
        .vote__slide-item:nth-child(2) .avatar .img {
          background-image: url("../../assets/images/2x/7.jpg");
        }
        .vote__slide-item:nth-child(3) .avatar .img {
          background-image: url("../../assets/images/2x/3.jpg");
        }
        .vote__slide-item:nth-child(4) .avatar .img {
          background-image: url("../../assets/images/2x/9.jpg");
        }
      }
    }
  }
}