.leaders,
.theme_dark .leaders {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .name {
    line-height: 4.8vh;
    font-size: 4.2vh;
  }

  .header__subtitle {
    margin-bottom: 7.5vh;
    line-height: 4.6vh;
    font-size: 4.2vh;
  }

  &__container {
    display: flex;
    align-items: center;
    height: calc(100% - 22.5vh);
    margin-top: 0.3vh;
  }
}

@media only screen and (orientation: portrait) {
  .leaders,
  .theme_dark .leaders {
    align-items: flex-start;

    .header__subtitle {
      margin-bottom: 10.5vh;
      line-height: 2.6vh;
      letter-spacing: 0;
      font-size: 2.4vh;
    }

    .name {
      line-height: 2.6vh;
      letter-spacing: 0;
      font-size: 2.4vh;
    }

    &__container {
      height: calc(100% - 15.5vh);
      margin: auto;
      min-height: 86vh;
      position: relative;
    }
  }
}
