.leaders {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .header__subtitle {
    margin-bottom: 7.5vh;
  }

  &__container {
    display: flex;
    align-items: center;
    height: calc(100% - 22.5vh);
    margin-top: 1vh;
  }
}

@media only screen and (orientation: portrait) {
  .leaders {
    align-items: flex-start;

    .header__subtitle {
      margin-bottom: 10.5vh;
    }

    &__container {
      height: calc(100% - 15.5vh);
      margin: auto;
      min-height: 86vh;
      position: relative;
    }
  }
}
