@import '../../sass/constants.scss';

.diagram__categories,
.theme_dark .diagram__categories {
  margin-left: 6vw;
  width: 100%;
  font-weight: 500;
  color: $primary2;
  font-size: $font-size-land-16;
  line-height: 1.2;
}

.diagram__category,
.theme_dark .diagram__category {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.3vw solid #918f8a4d;
  padding: 4.3vh 0;

  &:last-child {
    border-bottom: none;
  }

  &:first-child .diagram__category-circle {
    background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 163, 0, 0.8) 71.88%, rgba(91, 58, 0, 0.8) 100%);
    box-shadow: 0 0 20px -8px rgba(248, 158, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 162, 0, 0.9);
  }

  &:nth-child(2) .diagram__category-circle {
    background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(99, 63, 0, 0.5) 72.92%, rgba(15, 9, 0, 0.5) 100%);
    box-shadow: 0 0 20px -8px rgba(147, 93, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(202, 129, 0, 0.9);
  }

  &:nth-child(3) .diagram__category-circle {
    background: radial-gradient(100% 100% at 50% 0%, rgba(151, 151, 151, 0.5) 0%, rgba(41, 41, 41, 0.5) 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  &:nth-child(4) .diagram__category-circle {
    background: radial-gradient(100% 100% at 50% 0%, rgba(62, 62, 62, 0.5) 0%, rgba(40, 40, 40, 0.5) 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);
  }

  &-left {
    display: flex;
    color: $white;
    align-items: center;
    letter-spacing: 0.1vh;
  }

  &-circle {
    width: 2.4vw;
    height: 2.4vw;
    margin-right: 1.5vw;
    border-radius: 50%;
  }

  &-right {
    display: flex;
  }

  &-value {
    margin-left: 2.9vw;
  }
}

.theme_light .diagram__category {

  &:first-child .diagram__category-circle {
    background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.56) 81.25%, rgba(255, 239, 153, 0.32) 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.9);
  }

  &:nth-child(2) .diagram__category-circle {
    background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.24) 81.25%, rgba(255, 239, 153, 0.12) 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
  }

  &:nth-child(3) .diagram__category-circle {
    background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(166, 166, 166, 0.1725) 82.81%, rgba(203, 203, 203, 0.05) 92.19%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(105, 105, 105, 0.2);
  }

  &:nth-child(4) .diagram__category-circle {
    background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(191, 191, 191, 0.345) 82.81%, rgba(228, 228, 228, 0.1) 92.19%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(131, 131, 131, 0.6);
  }

  &-left {
    color: $black;
  }
}

@media only screen and (orientation: portrait) {
  .diagram__categories,
  .theme_light .diagram__categories,
  .theme_dark .diagram__categories {
    margin-left: 0;
    font-size: 2.4vh;
    line-height: 2.4vh;
    margin-top: 2.6vh;
  }

  .diagram__category,
  .theme_light .diagram__category,
  .theme_dark .diagram__category {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3vh solid #918f8a4d;
    padding: 2.4vh 0;

    &:last-child {
      border-bottom: none;
    }

    &-circle {
      width: 2.4vh;
      height: 2.4vh;
      margin-right: 2.5vw;
      border-radius: 50%;
    }

    &-right {
      display: flex;
    }

    &-left {
      letter-spacing: 0;
    }

    &-value {
      margin-left: 4.4vw;
    }
  }

}