@import '../../sass/constants.scss';

.header,
.theme_dark .header {
  padding: 5vh 3vw 0;

  &__title {
    font-weight: 700;
    color: $white;
    text-align: center;
    font-size: 8vh;
    line-height: 8.6vh;
    margin-bottom: 2.4vh;
  }

  &__subtitle {
    font-weight: 500;
    color: $primary2;
    font-size: $font-size-land-16;
    line-height: 4.7vh;
    text-align: center;
  }
}

.theme_light .header {
  &__title {
    color: $black;
  }

  &__subtitle {
    color: $primary1;
  }
}

@media only screen and (orientation: portrait) {
  .header,
  .theme_dark .header,
  .theme_light .header {
    padding: 3vh 6.4vw 0;

    &__title {
      text-align: left;
      font-size: 4.5vh;
      line-height: 4.8vh;
      margin-bottom: 1.2vh;
      margin-right: 7vw;
    }

    &__subtitle {
      text-align: left;
      letter-spacing: 0;
      font-size: $font-size-port-16;
      line-height: $line-height-port-16;
    }
  }
}