@import '../../sass/constants.scss';

.column,
.theme_dark .column {
  height: 100%;
  width: 18vw;
  text-align: center;
  z-index: 3;

  &:nth-child(2),
  &:nth-child(4) {
    padding-top: 5.3vh;
    z-index: 2;
  }

  &:nth-child(1),
  &:nth-child(5) {
    padding-top: 10.6vh;
    z-index: 1;
  }

  &__user {
    min-height: 43vh;
    max-height: 43vh;
    width: 15.6vw;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  &.selected .emoji.selected {
    display: block;
  }

  &__user-value {
    padding: 1.5vh 0 4vh;
    font-size: 3.6vh;
    color: #918F8A;
  }

  &__block {
    border-radius: 0;
    padding-top: 4.7vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 95.38% at 38.75% 71.48%, #000000 0%, #231900 0.01%, #4D4D4D 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.15), inset 0px 2px 4px rgba(103, 103, 103, 0.6);
    font-weight: 700;
    color: $white;
    text-align: center;
    font-size: 8.2vh;
    line-height: 8.5vh;
    height: calc(100% - 37vh);
  }

  &:nth-child(4),
  &:nth-child(5) {
    margin-left: -2.4vw;
    padding-left: 2.4vw;

    //.column__block {
    //  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.15), inset -5px 2px 16px rgba(103, 103, 103, 0.6);
    //}
  }

  &:nth-child(1) .name {
    position: relative;
    top: 0.1vh;
    font-size: 4.1vh;
  }

  &:nth-child(3) .avatar {
    margin: 0 auto 1.6vh;
    line-height: 4.7vh;
  }

  &:nth-child(3) .column__user-value {
    padding: 1.4vh 0 4vh;
  }

  &:nth-child(4) &__block,
  &:nth-child(5) &__block {
    border-radius: 0 1.5vh 0 0;
  }

  &:nth-child(1),
  &:nth-child(2) {
    margin-right: -2.4vw;
    padding-right: 2.4vw;

    //.column__block {
    //  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.15), inset 9px 2px 16px rgba(103, 103, 103, 0.6);
    //}
  }

  &:nth-child(1) &__block,
  &:nth-child(2) &__block {
    border-radius: 1.5vh 0 0 0;
  }

  &:nth-child(3) &__block {
    border-radius: 1.5vh 1.5vh 0 0;
    background: radial-gradient(91.67% 112.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.4);
  }
}

.theme_light .column {
  &__block {
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5);
    color: $black;
  }

  &:nth-child(3) .column__block {
    background: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8);
  }
}

@media only screen and (orientation: portrait) {
  .column,
  .theme_dark .column,
  .theme_light .column {
    width: 32vw;

    &:nth-child(2),
    &:nth-child(4) {
      padding-top: 7.5vh;
      z-index: 2;
    }

    &:nth-child(1) .name {
      top: 0;
      font-size: 2.4vh;
    }

    &:nth-child(2) {
      padding-top: 15vh;
    }

    &:nth-child(3) .name {
      line-height: 2.8vh;
    }

    &:nth-child(3) .avatar {
      margin: 0 auto 0.8vh;
    }

    &:nth-child(1),
    &:nth-child(5) {
      display: none;
    }

    &:nth-child(2) {
      margin-right: -4.3vw;
      padding-right: 4.3vw;
    }

    &:nth-child(4) {
      margin-left: -4.3vw;
      padding-left: 4.3vw;
    }

    &__user {
      min-height: 23.5vh;
      max-height: 24.5vh;
      width: 27.7vw;
      margin: auto;
    }

    &__user-value {
      padding: 0.6vh 0 2.4vh;
      font-size: 3.6vw;
    }

    &__block {
      padding-top: 2.7vh;
      font-size: 4.5vh;
      line-height: 4.7vh;
      height: calc(100% - 24vh);
    }

    &:nth-child(2) .avatar {
      position: relative;
      top: -0.1vh;
    }

    &:nth-child(4) &__block,
    &:nth-child(5) &__block {
      border-radius: 0 0.9vh 0 0;
      margin-left: -4vw;
      padding-left: 4vw;
    }

    &:nth-child(1) &__block,
    &:nth-child(2) &__block {
      border-radius: 0.9vh 0 0 0;
      margin-right: -4vw;
      padding-right: 4vw;
    }

    &:nth-child(3) &__block {
      border-radius: 0.9vh 0.9vh 0 0;
    }

  }

  .column,
  .theme_dark .column {
    &.selected:nth-child(1),
    &.selected:nth-child(5) {
      display: block;
      position: absolute;
      left: 50%;
      z-index: 4;
      margin-left: -16.2vw;
      margin-right: 0;
      padding-right: 0;
      bottom: -0.5vh;
      height: 45vh;
      padding-top: 0;

      .column__block {
        box-shadow: none;
        background: transparent;
        position: relative;
        height: 10vh;
        padding: 0.9vh 0 2.4vh;
        margin-right: 0;
      }

      .column__block:before {
        content: '';
        width: 16vw;
        height: 0.15vh;
        background: $primary2;
        left: 50%;
        margin-left: -8vw;
        position: absolute;
        top: 0;
      }

      .column__user-value {
        padding: 0.6vh 0 1.1vh;
      }
    }
  }

  .theme_light .column {
    &.selected:nth-child(1),
    &.selected:nth-child(5) {
      .column__block:before {
        content: '';
        background: $black;
      }

      .column__user-value {
        color: $black;
      }
    }
  }
}
