.columns__container {
  display: flex;
  align-items: center;
  height: calc(100% - 22.5vh);
}

.column,
.theme_dark .column {
  height: 100%;
  width: 18vw;
  text-align: center;
  z-index: 3;

  &:nth-child(2),
  &:nth-child(4) {
    padding-top: 5vh;
    z-index: 2;
  }

  &:nth-child(1),
  &:nth-child(5) {
    padding-top: 10vh;
    z-index: 1;
  }

  &__user {
    min-height: 37vh;
    width: 15.6vw;
    margin: auto;
  }

  &__user-value {
    margin-bottom: 4vh;
  }

  &__block {
    border-radius: 0;
    padding-top: 4vh;
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 95.38% at 38.75% 71.48%, #000000 0%, #231900 0.01%, #4D4D4D 100%);
    font-weight: 700;
    color: #FCFBF7;
    text-align: center;
    font-size: 8vh;
    line-height: 8.5vh;
    height: calc(100% - 37vh);
  }

  &:nth-child(4),
  &:nth-child(5) {
    margin-left: -2.4vw;
    padding-left: 2.4vw;
  }

  &:nth-child(4) &__block,
  &:nth-child(5) &__block {
    border-radius: 0 1.5vh 0 0;
  }

  &:nth-child(1),
  &:nth-child(2) {
    margin-right: -2.4vw;
    padding-right: 2.4vw;
  }

  &:nth-child(1) &__block,
  &:nth-child(2) &__block {
    border-radius: 1.5vh 0 0 0;
  }

  &:nth-child(3) &__block {
    border-radius: 1.5vh 1.5vh 0 0;
    background: radial-gradient(91.67% 122.17% at 50% -11.17%, #FFA300 0%, #2D1C00 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.4);
  }

  &:nth-child(1) &__user .avatar .img {
    background-image: url("../../assets/images/1x/8.jpg");
  }

  &:nth-child(2) &__user .avatar .img {
    background-image: url("../../assets/images/1x/7.jpg");
  }

  &:nth-child(3) &__user .avatar .img {
    background-image: url("../../assets/images/1x/3.jpg");
  }

  &:nth-child(4) &__user .avatar .img {
    background-image: url("../../assets/images/1x/9.jpg");
  }

  &:nth-child(5) &__user .avatar .img {
    background-image: url("../../assets/images/1x/6.jpg");
  }

}

.theme_light .column {
  &__block {
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5);
    color: #261C00;
  }

  &:nth-child(3) .column__block {
    background: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8);
  }
}

@media only screen and (orientation: portrait) {
  .columns__container {
    height: calc(100% - 22.5vh);
    margin: auto;
    min-height: 78vh;
  }

  .column {
    width: 32vw;

    &:nth-child(2),
    &:nth-child(4) {
      padding-top: 7.5vh;
      z-index: 2;
    }

    &:nth-child(2) {
      padding-top: 15vh;
    }

    &:nth-child(1),
    &:nth-child(5) {
      display: none;
    }

    &:nth-child(2) {
      margin-right: -4.3vw;
      padding-right: 4.3vw;
    }

    &:nth-child(4) {
      margin-left: -4.3vw;
      padding-left: 4.3vw;
    }

    &__user {
      min-height: 26vh;
      width: 27.7vw;
      margin: auto;
    }

    &__user-value {
      margin-bottom: 2.4vh;
    }

    &__block {
      padding-top: 2.7vh;
      font-size: 4.5vh;
      line-height: 4.8vh;
      height: calc(100% - 26vh);
    }

    &:nth-child(4) &__block,
    &:nth-child(5) &__block {
      border-radius: 0 0.9vh 0 0;
      margin-left: -4vw;
      padding-left: 4vw;
    }

    &:nth-child(1) &__block,
    &:nth-child(2) &__block {
      border-radius: 0.9vh 0 0 0;
      margin-right: -4vw;
      padding-right: 4vw;
    }

    &:nth-child(3) &__block {
      border-radius: 0.9vh 0.9vh 0 0;
    }

  }
}