.activity,
.theme_dark .activity {
  &__map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.8vw;
    margin-left: -2vw;
  }

  &__day {
    display: flex;
    align-items: flex-end;
    margin-top: -3.2vw;

    &:nth-child(2n) {
      margin-left: 5vw;
      margin-top: -3.3vw;
    }
  }

  &__item {
    width: 5.1vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: -0.2vw;

    &.size_min {
      background-image: url("../../assets/images/4x/min-dark.png");
      height: 5.1vw;
    }

    &.size_mid {
      background-image: url("../../assets/images/4x/mid-dark.png");
      height: 6.2vw;
      margin-top: -1vw;
    }

    &.size_max {
      background-image: url("../../assets/images/4x/max-dark.png");
      height: 8.5vw;
      margin-top: -3.8vw;
    }

    &.size_extra {
      background-image: url("../../assets/images/4x/extra-dark.png");
      height: 11vw;
      margin-top: -7vw;
    }
  }
}

.theme_light .activity {
  &__item {
    &.size_min {
      background-image: url("../../assets/images/4x/min-light.png");
    }

    &.size_mid {
      background-image: url("../../assets/images/4x/mid-light.png");
    }

    &.size_max {
      background-image: url("../../assets/images/4x/max-light.png");
    }

    &.size_extra {
      background-image: url("../../assets/images/4x/extra-light.png");
    }
  }
}

@media only screen and (orientation: portrait) {
  .activity,
  .theme_light .activity,
  .theme_dark .activity {
    &__map {
      justify-content: center;
      margin-top: -2.3vw;
      height: calc(100% - 5.7vh);
      margin-left: -2.9vh;
      flex-direction: row;
      align-items: flex-start;
    }

    &__day {
      align-items: center;
      margin-top: 12.9vh;
      flex-direction: column;

      &:nth-child(2n) {
        margin-left: 0;
        margin-top: 12.9vh;
      }
    }

    &__item {
      width: 6.5vh;
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: -4vh;
      position: relative;
      left: -0.1vw;

      &:nth-child(2n) {
        margin-left: 0;
        margin-right: -6.3vh;
      }

      &.size_min {
        height: 6.5vh;
      }

      &.size_mid {
        height: 7.8vh;
        margin-top: -5.3vh;
        left: -0.2vw;
      }

      &.size_max {
        height: 10.9vh;
        margin-top: -8.4vh;
      }

      &.size_extra {
        height: 14.1vh;
        margin-top: -11.5vh;
      }
    }
  }
}