.avatar,
.theme_dark .avatar {
  padding: 3vw 3vw 0;
  margin: 0 auto 1.5vh;
  position: relative;

  .img {
    width: 9.6vw;
    height: 9.6vw;
    background-size: cover;
    display: block;
    margin: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    filter: grayscale(100%);
  }

  .emoji {
    position: absolute;
    top: 2vw;
    font-size: 4.8vw;
    line-height: 1.2;
    left: 50%;
    margin-left: -3.2vw;
    margin-top: -3vw;
  }

  .emoji.selected {
    display: none;
  }
}

.theme_light .avatar {
  .img {
    filter: grayscale(0);
  }
}

@media only screen and (orientation: portrait) {
  .avatar,
  .theme_dark .avatar,
  .theme_light .avatar {
    padding: 3.3vh 5.3vw 0;
    margin: 0 auto 0.9vh;

    .img {
      max-width: 17vw;
      max-height: 17vw;
      width: 9.6vmax;
      height: 9.6vmax;
    }

    .emoji {
      top: 0;
      font-size: 4.8vh;
      margin-left: -3.2vh;
      margin-top: -1.5vh;
    }
  }
}
