body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3.7vh;
  line-height: 4vh;
  height: 100%;
  color: #BFBFBF;
}

.cloak {
  display: none;
}

body,
body.theme_dark,
body .theme_dark {
  background: radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(19, 14, 0, 0.9) 0%, #000000 100%);
}

body .theme_light,
body.theme_light {
  background: #fff;
}

.theme_dark,
.theme_light {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-feature-settings: normal;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-feature-settings: normal;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-feature-settings: normal;
}

@media only screen and (orientation: portrait) {
  body {
    font-size: 2.1vh;
    line-height: 2.4vh;
  }
}
