.diagram {
  height: 100%;
  overflow: hidden;

  &__container {
    height: calc(100% - 20vh);
    padding: 13.9vh 6.3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (orientation: portrait) {
  .diagram {
    &__container {
      height: calc(100% - 12vh);
      padding: 4.8vh 6.4vw 3.6vh;
      flex-direction: column;
    }
  }
}