@import '../../sass/constants.scss';

.chart__columns,
.theme_dark .chart__columns {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;

  .column {
    &__item {
      text-align: center;
      font-weight: 700;
      color: $primary2;
      max-width: 7.2%;
      margin-right: 4.4%;

      &:last-child {
        margin-right: 0;
      }
    }

    &__item.active .column__item-part {
      background: radial-gradient(81.14% 100% at 50% 0%, #FFA300 0%, #2D1C00 100%);
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.5);
    }

    &__item.active .column__item-value {
      color: $white;
    }

    &__item-part {
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 93.3% at 38.75% 72.1%, #000000 0%, #231900 0.01%, #4D4D4D 100%);
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6);
      border-radius: 1.2vh;
      max-height: 33vh;
      min-height: 2vh;
      margin: 2.3vh 0 3.2vh;
    }

    &__item-name {
      font-size: 4.3vh;
      line-height: 4.8vh;
      margin-bottom: 0;
    }

    &__item-value {
      font-size: 3vw;
      line-height: 3vw;
    }
  }
}

.theme_light .chart__columns {
  .column {
    &__item {
      color: $primary1;
    }

    &__item.active .column__item-part {
      background: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8);
    }

    &__item.active .column__item-value {
      color: $black;
    }

    &__item-part {
      background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5);
    }
  }
}

@media only screen and (orientation: portrait) {
  .chart__columns,
  .theme_dark .chart__columns,
  .theme_light .chart__columns {
    height: 100%;

    .column {
      &__item {
        max-width: 10.6vw;
        margin-right: 6.4vw;
        min-width: 10.6vw;

        &:last-child {
          margin-right: 0;
        }
      }

      &__item-part {
        border-radius: 1vh;
        max-height: 40.6vh;
        min-height: 1.2vh;
        margin: 1.3vh 0 2.1vh;
      }

      &__item-name {
        font-size: $font-size-port-16;
        line-height: 2vh;
        margin-bottom: 0;
      }

      &__item-value {
        font-size: 5vw;
        line-height: 5.7vw;
      }
    }
  }
}